@import "../../styles/mixin";
@import "../../styles/variables";

.Popup {
	border: 1px solid $primary-color;
	width: 250px;
	position: fixed;
	top: 0;
	left: calc(50% - 125px);
	background-color: $secondary-color;

	p {
		margin: 5px;
	}
}
