//Colors
$primary-color: #000000;
$secondary-color: #ffffff;
$tertiary-color: #ffd700;

//Sizes
$photo-size_width-normal: 250px;
$photo-size_height-normal: 200px;

$card-width_normal: 350px;
$card-height_normal: 350px;
