@import "../../styles/all";

.Card {
	@include max-width($card-width_normal);
	max-height: $card-height_normal;
	@include flexContainer(column, center);

	h3 {
		align-self: center;
		font-size: 2.3rem;
		margin: 5px 0;
	}

	img {
		@include size($photo-size_width-normal, $photo-size_height-normal);
		align-self: center;
	}

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: 15px;
	}

	.details {
		padding: 3px 5px 0;
		border: 1px solid $secondary-color;
		border-radius: 5px;
		overflow-y: auto;

		.ingrList,
		.instructions {
			margin-top: 8px;
			margin-bottom: 5px;
		}

		.ingrList {
			li {
				font-weight: $font-weight-light;
				font-size: 0.8rem;
				text-align: center;
			}
		}

		.instructions {
			font-weight: $font-weight-light;
		}

		// .ingrList,
		// .instructions {
		// margin-top: 8px;
		// margin-bottom: 5px;
		// }
	}
}
