@import "../../styles/variables";
@import "../../styles/mixin";

.Card {
	max-width: 450px;
	@include flexContainer(column, center);

	h3 {
		align-self: center;
		font-size: 2.3rem;
		margin: 5px 0;
	}

	img {
		width: $photo-size_width-normal;
		height: $photo-size_height-normal;
		align-self: center;
	}

	ul {
		padding: 0;
		list-style: none;
		display: flex;
		gap: 15px;
	}
}

.Card__details {
	padding: 3px 5px 0;
	border: 1px solid $secondary-color;
	border-radius: 5px;

	ul,
	p {
		margin-top: 8px;
		margin-bottom: 5px;
	}
}
