@import "../../styles/variables";
@import "../../styles/mixin";

.Footer {
	color: $tertiary-color;
	border-top: 1px solid $secondary-color;
	position: absolute;
	bottom: 0;
	background-color: $primary-color;
	height: 150px;
	width: 100%;
	padding: 20px 0;
	@include flexContainer(column, space-between, 30px);

	.upper__links {
		width: 100%;
		@include flexContainer(row, space-around, 20px);
	}

	.lower__links {
		width: 100%;
		@include flexContainer(row, space-between, 20px, nowrap, flex-end);

		.lower__fodding {
			width: 40%;
		}

		.left__links {
			width: 30%;
			@include flexContainer(row, space-evenly);
		}

		.right__links {
			width: 30%;
			@include flexContainer(row, space-evenly);
		}
	}
}
